body {
  display: grid;
  grid-template-areas:
    "nav" "nav" "nav" "nav"
    "portada" "portada" "portada"
    "contenido" "contenido" "aside"
    "contenido" "contenido" "aside"
    "contenido" "contenido" "aside"
    "footer" "footer" "footer";
}
img {
  width: 200px;
  height: 150px;
}
.navegador {
  grid-area: nav;
  background-color: aqua;
}
.portada {
  grid-area: portada;
  background-color: rgb(13, 9, 45);
}
.contenido {
  grid-area: contenido;
  background-color: rgb(117, 110, 172);
}
.aside {
  grid-area: aside;
  background-color: rgb(18, 157, 18);
}
.footer {
  grid-area: footer;
  background-color: rgb(136, 46, 116);
}
